@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body {
    overflow-x: hidden;
}

a {
    font-family: 'Lato', sans-serif;
}

.books {
    display: grid;
    width: 100vw;
    height: 100vh;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.books .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.books .item .capa {
    display: flex;
    width: 250px;
    overflow: hidden;
    justify-content: center;
}

.books .item .capa img {
    height: 200px;
    object-fit:scale-down;
}

.books .item div {
    width: 100%;
}

.books .item div .btn_download {

    display: flex;
    
    width: 100%;
    height: 25px;

    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 3px;
    border-color: #BDBDBD;

    background-color: lightgray;

    cursor: pointer;

    color: black;

    text-decoration-line: none;
    font-weight: bold;

    font-style: normal;
    font-family: 'Lato', sans-serif;;

}

.info {
    width: '100%';
    text-align: center;
}

.mensagem-inicio {
    display: flex;
    width: 80%;
    height: 50px;
    align-self: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
    background-color: #FFED83;
    border-style: solid;
    border-color: lightgray;
    border-width: 3px;

    align-items: center;
    justify-content: center;
}

.mensagem-inicio a {
    font-size: 20px;
}

/*
Login
*/

.login-container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 500px;
    margin: 0 0;
    background-color: aquamarine;
    border-style:solid;
    border-width: 3px;
    border-color: lightgray;
}

.login-div div {
    text-align: center;
}

.login-div input[type=text], input[type=password] {
    outline: none;
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    border-radius: 15px;
    align-items: center;
    width: 180px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.login-div select, input[type=file] {
    outline: none;
    width: 180px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: lightgray;

    text-align: center;
    justify-content: center;

    background-color: white;
}

.login-div input[type=file] button {
    background-color: none;

    cursor: pointer;
}

::-webkit-file-upload-button{
    outline: none;
    background-color: white;
    border: none;
}

.login-div button {
    width: 180px;
    height: 30px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;

    cursor: pointer;
}

.login-div .top {
}

.senha-segura-msg {
    font-size: 13px;
    text-align: center;
}

.error-msg {
    color: red;
}

/*enviar-livro*/
.container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

/*seus-downloads*/

.downloads {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: flex-start;
    grid-template-columns: 1fr;
}

.downloads .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: lightgray;
}

.downloads .item .capa {
    display: flex;
    width: 250px;
    overflow: hidden;
    justify-content: center;
}

.downloads .item .capa img {
    height: 100px;
    object-fit:scale-down;
}

.downloads .item div {
    width: 100%;
}

.downloads .item div .btn_download {

    display: flex;
    
    width: 100%;
    height: 25px;

    align-items: center;
    justify-content: center;

    border-style: solid;
    border-width: 3px;
    border-color: gray;

    background-color: lightgray;

    cursor: pointer;

    color: black;

    text-decoration-line: none;
    font-weight: bold;

    font-style: normal;
    font-family: 'Lato', sans-serif;;

}

.download-info {
    width: '100%';
    text-align: center;
}

/**/


@media screen and (max-width: 700px ) {
    .books {
        align-content: flex-start;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 400px ) {

    .mensagem-inicio a {
        font-size: 15px;
    }

    .books {
        grid-template-columns: 1fr;
    }

    .books .item {
        flex-direction: row;
    }

    body {
        display: flex;
    }

    .books div {
        width: 300px;
        margin: 10px;
    }

    .downloads div {
        justify-self: center;

        width: 300px;
        margin: 10px;
    }
}